 {
  margin: 0 auto;
  padding: 0 auto;
}

.contactItem {
 width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap:30px;
}
.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}
.deleteBtn{
    width: 50px;
    height: 20px;
    background-color: rgb(57, 6, 115);
    color:rgb(221, 214, 214);
    border: transparent;
    border-radius: 3px;
}
.deleteBtn:hover{
    cursor: pointer;
    background-color:  rgb(237, 10, 10);
    color:rgb(221, 214, 214);
    box-shadow: 0 0  5px 5px #888;;
    
}
